body{
  font-family: "Garamond", Georgia, serif;
  background-color: white;
}

img{
  z-index: 0;
}

img:hover{
  opacity: 0.7;
}

.header{
  z-index: 1;
}

p.numCart{
  color: #333333;
  z-index: 2;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  top: 0px;
  right: 53px;
  width: 15px;
  text-align: center;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
}

nav.header{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 45px;
  padding-top: 20px;
  text-align: right;
  background-color: white;
}

div.nav-links{
  padding-right: 50px;
  background-color: white;
}

img.icon{
  object-fit: cover;
  position: absolute;
  right: 50px;
  width: 25px;
  height: 25px;
  margin-left: -15px;
}

img.hamburger{
  object-fit: cover;
  position: absolute;
  right: 100px;
  width: 25px;
  height: 25px;
  margin-left: -15px;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media (prefers-reduced-motion: no-preference) {
  .fadein-animation {
    animation-name: fade-in;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }
}

a{
  text-align: center;
  display: inline-block;
  font-size: 20px;
  color: black;
  opacity: 0.8;
  text-decoration: none;
  padding-right: 50px;
}

a.navbar{
  height: 40px;
}

a.theme{
  position: absolute;
  font-size: 15px;
  float: left;
  padding-left: 68px;
}

img.theme{
  padding-top: 5px;
  width: 17px;
  height: 17px;
  float: left;
  padding-left: 50px;
}

a:hover{
  opacity: 0.5;
}

a:active{
  opacity: 1;
  font-weight: bold;
  text-decoration: underline;
}

a:visited{
  opacity: 0.8;
}

a:focus{
  opacity: 1;
  text-decoration: underline;
}

a.current{
  opacity: 1;
  font-weight: bold;
  text-decoration: underline;
}

h1{
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 48px;
}

img.gallery{
  width: 100% !important;
  object-fit: cover;
  height: 400px !important;
}

div.image{
  text-align: center;
  min-height: 1500px;

}

div.imageContainer{
  width: 31.25%;
  display: inline-block;
  margin: 7px;
  vertical-align: top;
}

p.imagetitle{
  display: block;
  font-family: "Times New Roman";
  margin-bottom: 50px;
  text-align: center;
  width: 100%;
  font-style: italic;
  font-size: 20px;
}

footer{
  width: 100%;
  color: white;
  height: 270px;
  background-color: #333333;
}

hr.footer{
  margin-top: -5px;
  margin-bottom: 0;
  width: 100%;
}

h3{
  font-size: 28px;
  margin-bottom: 4px;
}

h3.contact{
  margin-top: 40px;
}

h3.links{
  margin-bottom: -5px;
}

hr{
  float:left;
  border-top: 1px;
  width: 100px;
  border-color: white;
}

div[class^="footer"]{
  float: left;
  width: 30%;
  padding-left: 119px;
}

div[class*="links"]{
  float: right;
  width: 30%;
}

div[class*="contact"]{
  line-height: 50%;
}

a.footer{
  line-height: 180%;
  color: white;
  font-size: 16px;
}
