body{
  font-family: "Garamond", Georgia, serif;
  background-color: white;
}

img{
  z-index: 0;
}

img:not(#adsOverlay):hover{
  opacity: 0.7;
}

.header{
  z-index: 1;
}

p.numCart{
  color: #333333 !important;
  z-index: 2;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  top: 0px;
  right: 53px;
  width: 15px;
  text-align: center;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
}

nav.header{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 45px;
  padding-top: 20px;
  text-align: right;
  background-color: white;
}

div.nav-links{
  padding-right: 50px;
  background-color: white;
}

img.icon{
  object-fit: cover;
  position: absolute;
  right: 50px;
  width: 25px;
  height: 25px;
  margin-left: -15px;
}

img.hamburger{
  object-fit: cover;
  position: absolute;
  right: 100px;
  width: 25px;
  height: 25px;
  margin-left: -15px;
}

a{
  text-align: center;
  display: inline-block;
  font-size: 20px;
  color: black;
  opacity: 0.8;
  text-decoration: none;
  padding-right: 50px;
}

a.navbar{
  height: 40px;
}

a.theme{
  position: absolute;
  font-size: 15px;
  float: left;
  padding-left: 68px;
}

img.theme{
  padding-top: 5px;
  width: 17px;
  height: 17px;
  float: left;
  padding-left: 50px;
}

a:hover{
  opacity: 0.5;
}

a:active{
  opacity: 1;
  text-decoration: underline;
}

a:visited{
  opacity: 0.8;
}

a:focus{
  opacity: 1;
  text-decoration: underline;
}

a.current{
  opacity: 1;
  font-weight: bold;
  text-decoration: underline;
}

h1{
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 48px;
}

img.imagePreview{
  z-index: 0;
  object-fit: cover;
  max-width: 100%;
  max-height: 370px;
  width: 370px;
  height: 370px;
}

div.body{
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
  font-size: 20px;
}

.itemstitle{
  display: block;
  height: 80px;
  max-width: 400px;
}

p.itemdescription{
  text-align: left;
}

div.description{
  display: block;
  max-width: 400px;
}

li{
  text-align: left;
}

.amount{
  display: block;
  margin-bottom: 30px;
}

#overlay{
  z-index: 2;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
}

div.overlayContainer{
  width: inherit;
  height: inherit;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

img.overlay{
  min-width: 400px;
  width: 50%;
  z-index: 3;
}

div.itemsContainer{
  position: relative;
  vertical-align: top;
  padding-top: 50px;
  text-align: center;
  justify-content: center;
  margin: 10px;
  display: inline-block;
  width: 30%;
  height: 800px;
}

.shopPreview{
  margin-top: -10px;
  width: 100%;
}

div.button{
  width: 100%;
  position: absolute;
  bottom: 0;
  justify-content: center;
  display: block;
}

button{
  font-size: 20px;
  width: 120px;
  height: 35px;
  font-family: "Garamond", Georgia, serif;
  border-radius: 20px;
  border-width: 1.5px;
  border-style: solid;
  border-color: black;
  background: rgba(255,255,255);
}

button:hover{
  opacity: 0.5;
}

button:active{
  opacity: 1;
  text-decoration: underline;
}

button:focus{
  opacity: 1;
  text-decoration: underline;
}

button:visited{
  opacity: 0.8;
}

footer{
  margin: auto;
  width: 100%;
  color: white;
  height: 270px;
  padding-top: 30px;
  background-color: #333333;
}

hr.footer{
  margin-top: -1px;
  margin-bottom: 0;
  width: 100%;
}

h3{
  font-size: 28px;
  margin-bottom: 4px;
}

h3.links{
  margin-bottom: -5px;
}

hr{
  float:left;
  border-top: 1px;
  width: 100px;
  border-color: white;
}

div[class^="footer"]{
  float: left;
  width: 30%;
  padding-left: 119px;
  padding-top: 3px;
}

div[class*="links"]{
  float: right;
  width: 30%;
}

div[class*="contact"]{
  line-height: 50%;
}

a.footer{
  line-height: 180%;
  color: white;
  font-size: 16px;
}
